@import "null.scss";
@import "general.scss";
@import "header.scss";
:root {
  --index: calc(1vw + 1vh)
}
body, html{
  width: 100%;
  position: relative;
  font-family: "Oswald";
  line-height: 1.5;
}
.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.intro {
  width: 100%;
  height: 100vh;
  background-image: url('../img/intro-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
  position: relative;
  &:before {
    content: '';
    display: block;
    background: url('../img/light.png') top center no-repeat;
    position: absolute;
    top: 18vh;
    left: 0;
    width: 100%;
    height: calc(100% - 18vh);
    animation: light 5s reverse ease-out infinite both;
  }
  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;  
  }
  &__content {
    grid-row: 2;
    align-self: flex-end;
    text-align: center;
  }
  &__title {
    font-size: calc(var(--index) * 2.6);
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }
  &__subtitle {
    font-size: calc(var(--index) * 2);
    color: #fff;
    margin-bottom: 30px;
  }
  &__arrows {
    display: inline-flex;
    flex-direction: column;
    animation: arrowsMove 2s linear infinite;
    //animation-delay: 3s;
    opacity: 0;
  }
  &__arrow {
    width: 50px;
    height: 16px;
    background: url('../img/intro-arrow.png')center no-repeat;
    opacity: .2;
    animation: arrowMove 2s  infinite linear;
    &:last-child {
      animation-delay: .4s;
    }
    &:nth-child(2) {
      animation-delay: .2s;
    }
  }
}
@keyframes light {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  80.3% {
    opacity: .5;
  }
  81.3% {
    opacity: .5;
  }
  81.6% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.5% {
    opacity: .5;
  }
  86% {
    opacity: 1;
  }
  87% {
    opacity: 1;
  }
  87.5% {
    opacity: .5;
  }
  88% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrowMove {
  25% {
    opacity: .2;
  }
  26%{
    opacity: 1
  }
   100% {
    opacity: 1;
   }
}

@keyframes arrowsMove {
  20% {
    opacity: 0;
    
  }
  21% {
    opacity: 1;transform: translateY(10px);
  }
   50% {
    transform: translateY(10px);
   }
   90% {
     opacity: 1
   }
   100% {
     opacity: 0;
     transform: translateY(45px);
   }
}
@import "footer.scss";
